{% trans_default_domain('manufacture-part.admin') %}


<main class="main d-print-none">

    <section class="container px-4 mb-5">

        <div class="mt-3 d-flex justify-content-between">
            {{ include(_self|replace({ "content.html.twig": "_breadcrumb.html.twig" })) }}
        </div>

        <div class="d-flex justify-content-between align-items-center mb-3 gap-3">

            <div class="w-100">
                <h1 class="h4 text-uppercase fw-bolder mb-0">
                    Производственный процесс
                </h1>
            </div>

            <button {# href="{{ path('products-stocks:admin.purchase.index') }}" #}
                    class="btn btn-light opacity-25"
                    role="tooltip"
                    data-bs-toggle="tooltip"
                    data-bs-placement="bottom"
                    data-bs-delay='{"show":600,"hide":100}'
                    title="Производство продукции"
            >
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-boxes"
                     viewBox="0 0 16 16">
                    <path d="M7.752.066a.5.5 0 0 1 .496 0l3.75 2.143a.5.5 0 0 1 .252.434v3.995l3.498 2A.5.5 0 0 1 16 9.07v4.286a.5.5 0 0 1-.252.434l-3.75 2.143a.5.5 0 0 1-.496 0l-3.502-2-3.502 2.001a.5.5 0 0 1-.496 0l-3.75-2.143A.5.5 0 0 1 0 13.357V9.071a.5.5 0 0 1 .252-.434L3.75 6.638V2.643a.5.5 0 0 1 .252-.434L7.752.066ZM4.25 7.504 1.508 9.071l2.742 1.567 2.742-1.567L4.25 7.504ZM7.5 9.933l-2.75 1.571v3.134l2.75-1.571V9.933Zm1 3.134 2.75 1.571v-3.134L8.5 9.933v3.134Zm.508-3.996 2.742 1.567 2.742-1.567-2.742-1.567-2.742 1.567Zm2.242-2.433V3.504L8.5 5.076V8.21l2.75-1.572ZM7.5 8.21V5.076L4.75 3.504v3.134L7.5 8.21ZM5.258 2.643 8 4.21l2.742-1.567L8 1.076 5.258 2.643ZM15 9.933l-2.75 1.571v3.134L15 13.067V9.933ZM3.75 14.638v-3.134L1 9.933v3.134l2.75 1.571Z"/>
                </svg>
            </button>


            <a href="{{ path('manufacture-part:admin.manufacture') }}"
               class="btn btn-light"
               role="tooltip"
               data-bs-toggle="tooltip"
               data-bs-placement="bottom"
               data-bs-delay='{"show":600,"hide":100}'
               title="Список производственных партий"
            >
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                     class="bi bi-card-checklist" viewBox="0 0 16 16">
                    <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                    <path d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"/>
                </svg>
            </a>

            {# {% if opens %}
                <a href="{{ path('manufacture-part:admin.newedit.new') }}"
                   class="btn modal-btn modal-link disabled btn-primary text-nowrap" data-bs-toggle="modal"
                   data-bs-target="#modal"
                   title="Открыть производственную партию">
                    Добавить партию
                </a>
            {% endif %} #}

        </div>

        {% if opens %}

            {# Партия производства #}
            {{ include(_self|replace({ "content.html.twig": "part.html.twig" }), { card : opens }) }}

        {% else %}

            <div class="alert alert-secondary d-flex justify-content-between align-items-center" role="alert">
                <span>
                    У Вас нет  открытых производственных партий
                </span>

                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MANUFACTURE_PART_NEW') %}
                    <a href="{{ path('manufacture-part:admin.newedit.new') }}"
                       class="btn modal-btn modal-link disabled btn-primary text-nowrap" data-bs-toggle="modal"
                       data-bs-target="#modal"
                       title="Открыть производственную партию">
                        Открыть новую партию
                    </a>
                {% endif %}


            </div>

        {% endif %}

        <div class="d-flex justify-content-between align-items-center mb-3 gap-3">

            <div class="w-100">
                <h2 class="h5 text-uppercase fw-bolder mb-0">
                    Каталог продукции
                </h2>
            </div>

            {# <div class="w-100 d-flex align-items-center gap-3 justify-content-end">
            #}{# {{ form_start(profile) }}
                <div class="d-flex justify-content-end position-relative my-1 gap-3">

                    <div class="w-50">
                        {{ form_widget(profile.profile, {
                            placeholder: 'Выберите профиль из списка ...', attr: { 'data-select' : 'select2', class: 'mb-0' } }) }}
                    </div>
                </div>
                {{ form_end(profile) }} #}{#
            </div> #}

        </div>

        <div class="border border-light rounded-4 p-3">

            <div class="d-flex justify-content-between">

                {% include Template('/_includes/'~baks_settings.device~'/search.html.twig') %}

                <div class="w-100">
                    {# Фильтр по продукции #}
                    <div class="w-100">
                        {% include Template('@products-product/filter/'~baks_settings.device~'/filter.html.twig') %}
                    </div>
                </div>

            </div>

            <div class="row cards-box-body mt-3">

                {# Текстовый результат фильтра #}
                {% include Template('@products-product/filter/'~baks_settings.device~'/filter_text.html.twig') %}

                {% for item in query.data %}
                    {{ include(_self|replace({ "content.html.twig": "card.html.twig" })) }}
                {% else %}

                    <div class="alert alert-warning m-3 w-100" role="alert">

                        <div class="d-flex align-items-baseline gap-3">
                            <div>
                                <div class="icon rounded-circle bg-contain p-2 bg-primary text-white"
                                     style="width: 10px; height: 10px;"><span class="small">!</span></div>
                            </div>
                            <div class="small lh-1">
                                Информация по данному запросу отсутствует
                            </div>
                        </div>

                    </div>
                {% endfor %}
            </div>

        </div>


        {% if query.data %}

            <div class="position-absolute mt-2 pt-1 small">
                <strong class="">Множественный выбор:</strong>
            </div>

            <div class="to-production-actions d-flex gap-2 sticky-bottom ps-5 pb-3 pt-2" style="margin-left: 130px;">

                <button
                        class="btn btn-sm btn-outline-primary text-nowrap mb-2"
                        role="tooltip"
                        data-bs-toggle="tooltip"
                        data-bs-placement="bottom"
                        data-bs-delay='{"show":600,"hide":100}'
                        title="Выбрать все"
                        id="select-all-to-production"
                >
                    Выбрать все
                </button>

                <a
                        class="btn btn-sm btn-danger opacity-75 text-nowrap mb-2 d-none"
                        role="tooltip"
                        data-bs-placement="bottom"
                        data-bs-delay='{"show":600,"hide":100}'
                        title="Добавить выбранные"
                        id="add-all-to-production"

                        data-bs-toggle="modal"
                        data-bs-target="#modal"

                        data-post-class="add-all-to-production"

                        data-method="post"
                        data-collection-form="product_form_data"

                        href="/admin/manufacture/part/selected-product/add"

                >
                    Добавить выбранные
                </a>

            </div>
        {% endif %}



        {% include Template('_includes/'~baks_settings.device~'/pagination.html.twig') with { 'pagination' : query } %}

    </section>

</main>
