{% trans_default_domain 'manufacture-part.admin' %}

<div class="modal-dialog modal-dialog-centered" style="max-width: 800px;">
    {{ form_start(form) }}
    <div class="modal-content p-3 border-bottom border-5 border-primary">
        <div class="modal-header">

            <h5 class="modal-title">
                {# Заголовок модального окна #}
                {{ 'admin.page.defect'|trans }}
            </h5>

            <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                <span class="svg-icon svg-icon-2x"></span>
            </div>
        </div>

        <div class="modal-body">

            {{ form_row(form.event, {
                label: 'Этап производства'|trans,
                placeholder: 'Дефект производственного сырья'|trans,
                attr: { 'data-select' : 'select2' }
            }) }}

            {{ form_row(form.total, { label: 'Количество бракованой продукции' }) }}
        </div>

        <div class="modal-footer">

            <div class="flex-grow-1">
                &nbsp;
            </div>

            <div class="d-flex gap-3">
                {# Отмена #}
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">
                    {{ 'btn.cancel'|trans({}, 'core.btn') }}
                </button>

                {# Удалить #}
                {{ form_widget(form.manufacture_part_product_defect, { label: '
                    <span>'~ 'btn.add'|trans({}, 'core.btn') ~'</span>
                    <span class="spinner-border spinner-border-sm vertical-middle d-none"></span>
                '}) }}
            </div>
        </div>
    </div>
    {{ form_end(form) }}
</div>
