{# Обложка  #}
{% set image_path = '/assets/img/blank.svg' %}

{% if product.product_image_ext is defined and product.product_image_ext is not null %}
    {% set img_host =  product.product_image_cdn == true  ? CDN_HOST : '' %}
    {% set img_dir = product.product_image %}
    {% set img_file = (img_host is empty ? '/image.' : '/small.') ~ product.product_image_ext %}
    {% set image_path = img_host ~ img_dir ~ img_file %}
{% endif %}


<button class="btn btn-link icon bg-cover rounded-2 lazy img-product m-0 "
        style="width: 55px; height: 70px; background-image: url({{ image_path }});">
</button>

<div>

    <div class="fw-bolder">{{ product.product_name }}</div>

    <div>
        {% if product.product_offer_name %}
            <small class="opacity-50">{{ product.product_offer_name }}:</small> &nbsp;
            <strong>{{ product.product_offer_value|call_twig_func(product.product_offer_reference) }} {{ product.product_offer_postfix }}</strong>&nbsp;
        {% endif %}

        {% if product.product_variation_name %}
            <small class="opacity-50">{{ product.product_variation_name }}:</small> &nbsp;
            <strong>{{ product.product_variation_value|call_twig_func(product.product_variation_reference) }} {{ product.product_variation_postfix }}</strong>&nbsp;
        {% endif %}

        {% if product.product_modification_name %}
            <small class="opacity-50">{{ product.product_modification_name }}:</small> &nbsp;
            <strong>{{ product.product_modification_value|call_twig_func(product.product_modification_reference) }} {{ product.product_modification_postfix }}</strong>&nbsp;
        {% endif %}

    </div>

    <div>
        <small class="opacity-50">Количество в партии:</small> &nbsp;
        <strong>{{ product.product_total }}</strong> шт.
    </div>
</div>
