{% trans_default_domain 'manufacture-part.admin' %}

<div class="modal-dialog modal-dialog-centered" style="max-width: 800px;">
    {{ form_start(form) }}
    <div class="modal-content p-3 border-bottom border-5 border-primary">
        <div class="modal-header">

            <h5 class="modal-title">
                {# Заголовок модального окна #}
                {{ 'admin.page.product_edit'|trans }}
            </h5>

            <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                <span class="svg-icon svg-icon-2x"></span>
            </div>
        </div>

        <div class="modal-body">
            {{ form_row(form.total, { label: 'Количество продукции' }) }}
        </div>

        <div class="modal-footer">
            {# Отмена #}

            <button type="button" class="btn btn-light" data-bs-dismiss="modal">
                {{ 'btn.cancel'|trans({}, 'core.btn') }}
            </button>


            {# Удалить #}
            {{ form_widget(form.manufacture_part_product_edit, { label: '
				<span>'~ 'btn.save'|trans({}, 'core.btn') ~'</span>
				<span class="spinner-border spinner-border-sm vertical-middle d-none"></span>
			'}) }}
        </div>
    </div>
    {{ form_end(form) }}
</div>
