{# Пользовательское меню #}

{% set identifier = item.id %}

<button class="btn btn-link btn-sm d-flex align-items-center"
        id="usecase-{{ identifier }}"
        data-bs-container="body"
        data-bs-toggle="popover"
        data-bs-placement="right"
        data-bs-trigger="click"
>
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
         fill="currentColor" class="text-muted"
         viewBox="0 0 16 16">
        <path fill-rule="evenodd"
              d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
    </svg>
</button>

<div id="usecase-{{ identifier }}-content" class="d-none">
    <ul class="leader list-group list-group-flush ">

        {# Редактировать #}
        {# <li class="list-group-item d-flex justify-content-between bg-transparent border-0 text-truncate rounded-5">
            <a href="{{ path('manufacture-part:admin.newedit.edit', {id: identifier }) }}"
               class="text-decoration-none text-dark w-100 modal-link disabled"
               data-bs-toggle="modal"
               data-bs-target="#modal"
               title="{{ 'btn.edit'|trans({}, 'core.btn') }}">
                {{ 'btn.edit'|trans({}, 'core.btn') }}
            </a>
        </li> #}




        {% if  is_granted(ROLE~'_ACTION') or is_granted('ROLE_ADMIN') %}
            <li class="list-group-item d-flex justify-content-between bg-transparent border-0 text-truncate rounded-5">
                <a href="{{ path('manufacture-part:admin.action', { id: item.id }) }}"
                   class="text-decoration-none text-dark w-100 modal-link disabled"
                   data-bs-toggle="modal"
                   data-bs-target="#modal"
                   title="{{ item.status ==  'completed' ? 'Этапы выполнения производства' : 'Выполнить этап производства' }}">
                    {{ item.status ==  'completed' ? 'Этапы выполнения производства' : 'Выполнить этап производства' }}
                </a>
            </li>
        {% endif %}



        {# Удалить #}
        {% if ( item.status != 'completed' and is_granted(ROLE~'_DELETE') ) or is_granted('ROLE_ADMIN') %}
            <li class="list-group-item d-flex justify-content-between bg-transparent border-0 text-truncate rounded-5">
                <a href="{{ path('manufacture-part:admin.delete', { id: item.id }) }}"
                   class="text-decoration-none text-dark w-100 modal-link disabled"
                   data-bs-toggle="modal"
                   data-bs-target="#modal"
                   title="{{ 'btn.delete'|trans({}, 'core.btn') }}">
                    {{ 'btn.delete'|trans({}, 'core.btn') }}
                </a>
            </li>
        {% endif %}
    </ul>
</div>



